*{
    margin: 0;
    padding: 0;

}

body{
    background:rgb(238,174,20);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
.clock
{
    background:grey;
    width: 300px;
    height: 300px;
    border-radius: 150%;
    border: 10px solid;
    font-weight: bold;
  display: flex;
    align-items: center;
    justify-content: center;
    position: relative
    

}
.clock li

{
    list-style: none;
    position: absolute;
    text-align: center;
    transform:rotate(calc(30deg*var(--i)));
    inset: 5px;
    font-size: 32px;
}

.clock ul li span{
    transform:rotate(calc(-30deg*var(--i)));
    display:inline-block;
}

.clock::after{

    content: '';
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 80%;
    position: absolute;



}
.needle
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.needle span{
    width: 6px;
    height: var(--h);
    background-color: var(--clr);
    border-radius: px;
    position: absolute;
   


}